<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mishindmitriy.timetable" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <receiver android:name=".TimeNotification" /> -->
    <application
        android:name=".app.TimeTableApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".app.shedule.SheduleActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.things.ThingsActivity_"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2d22a494fc2ac3e93047f01c673d690fd1948c2b" />
    </application>

</manifest>
